/*fonts*/
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik-v10-latin_cyrillic-ext-regular.woff2") format("woff2"),
       url("../fonts/rubik-v10-latin_cyrillic-ext-regular.woff") format("woff");
}@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rubik-v10-latin_cyrillic-ext-500.woff2") format("woff2"),
       url("../fonts/rubik-v10-latin_cyrillic-ext-500.woff") format("woff");
}

/*general styles*/
:root {
	--body-color: #f2f4f7;
	--main-green: #00d36d;
	--main-white: #ffffff;
	--main-black: #000000;
}
.body {
	margin: 0;
	padding: 0;
	font-family: "Rubik", "Arial", sans-serif;
	box-sizing: border-box;
	background-color: var(--body-color);
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
img {
	width: 100%;
	height: auto;
}
.main-button {
	font-size: 18px;
	line-height: 23px;
	padding: 10px 20px;
	text-decoration: none;
	color: var(--main-white);
	background-color: var(--main-green);
	border-radius: 8px;
}

/*site-header*/
.site-header {
	padding: 18px 0;
	background-color: var(--main-white);
}
.site-header-container {
	display: flex;
	align-items: center;
}
.logo {
	display: block;
	width: 180px;
	height: 80px;
}
.site-header-list {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-left: 35px;
	padding: 0;
	list-style-type: none;
}
.site-header-item {
	margin-right: 27px;
}
.site-header-item:last-child {
	margin: 0;
}
.site-header-link {
	font-size: 18px;
	line-height: 40px;
	color: var(--main-black);
	text-decoration: none;
	opacity: 0.5;
}
.active-link .site-header-link {
	opacity: 1;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.site-header-right {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.city-wrapper {
	position: relative;
}
.site-header-city {
	display: inline-flex;
	align-items: center;
	font-size: 14px;
	line-height: 32px;
	text-decoration: none;
	color: var(--main-black);
	opacity: 0.5;
}
	.site-header-city::before {
		content: "";
		width: 24px;
		height: 24px;
		margin-right: 3px;
		background-image: url("../img/geo.svg");
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.city-wrapper:hover .change {
		display: block;
	}
.change {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	display: none;
	padding: 15px;
	background-color: var(--main-white);
	border-radius: 10px;
	filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2));
}
.change::before {
	content: "";
	position: absolute;
	bottom: 99%;
	right: 10%;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid var(--main-white);
	border-left: 10px solid transparent;
}
.change-text {
	margin-top: 0;
	font-size: 15px;
	white-space: nowrap;
}
.change-yes {
	margin-right: 20px;
	padding: 7px 30px;
	font-size: 14px;
	color: var(--main-white);
	border: none;
	border-radius: 5px;
	background-color: var(--main-green);
	cursor: pointer;
}
.chage-city {
	padding: 7px 13px;
	font-size: 14px;
	text-decoration: none;
	color: var(--main-green);
	border: 1px solid var(--main-green);
	border-radius: 5px;
	background-color: var(--main-white);
}
.site-header-right-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 18px;
}
.site-header-input,
.site-header-button {
	display: none;
}
.button-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url("../img/search-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
}
.site-header-sign-in {
	padding: 5px 20px;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	color: var(--main-green);
	border: 1px solid var(--main-green);
	border-radius: 10px;
}

/*==site-main==*/
.site-main {
	padding-top: 70px;
}

/*hero*/
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}
.hero-heading {
	margin: 0;
	margin-bottom: 50px;
	font-size: 48px;
	line-height: 52px;
	font-weight: 500;
}
.hero-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 990px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style-type: none;
}
.hero-item {
	margin-right: 8px;
}
.hero-link {
	display: inline-block;
	padding: 12px;
	margin: 4px 0;
	font-size: 18px;
	line-height: 24px;
	color: var(--main-black);
	text-decoration: none;
	border-radius: 8px;
	background-color: var(--main-white);
}
.hero-item:last-child .hero-link {
	font-size: 36px;
}
.active-hero-link .hero-link {
	color: var(--main-white);
	background-color: var(--main-green);
}
/*form*/
.hero-form-group {
	width: 310px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero-radio {
	position: absolute;
	z-index: 2;
	opacity: 0;
	width: 63%;
	cursor: pointer;
}
.first-radio {
	left: 0;
}
.second-radio {
	right: 0;
}
.hero-radio:checked {
	z-index: 1;
	cursor: default;
}
.first-radio:checked ~ .controller .coin {
	margin-left: 0;
}
.first-radio:not(:checked) ~ .controller .coin {
	margin-left: 34px;
}
.first-radio:checked + .hero-checkbox-label {
	color: var(--main-green);
}
.second-radio:checked + .hero-checkbox-label {
	color: var(--main-green);
}
.hero-checkbox-label {
	display: inline-block;
	width: 102px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}
.controller {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	width: 58px;
	height: 24px;
	padding: 2px;
	background-color: var(--main-white);
	border: 1px solid #e4e6e9;
	border-radius: 12px;
	z-index: 1;
}
.coin {
	flex-shrink: 0;
	margin-left: 0px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: var(--main-green);
	border-radius: 50%;
	transition: 0.3s ease all;
}

/*partners*/
.partners {
	text-align: center;
	margin-bottom: 120px;
}
.partners-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-right: -20px;
	margin-bottom: 40px;
	padding: 0;
	list-style-type: none;
}
.partner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 218px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 20px 15px;
	background-color: var(--main-white);
	border-radius: 8px;
}
.partner__heading {
	order: 3;
	align-self: center;
	margin: 0;
	margin-top: 35px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	opacity: 0.5;
}
.partner__percent {
	margin: 0;
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 20px;
	font-weight: 500;
}
.partner__text {
	margin: 0;
	margin-bottom: 27px;
	font-size: 12px;
	line-height: 15px;
	opacity: 0.4;
}
.partner__img {
	align-self: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

/*opportunity-section*/
.opportunity-section {
	margin-bottom: 120px;
	text-align: center;
}
.opportunity__heading {
	width: 715px;
	margin: 0 auto;
	font-size: 32px;
	line-height: 40px;
	font-weight: 500;
	text-align: center;
}
.opportunities {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 20px;
	margin-right: -21px;
	margin-bottom: 40px;
	padding: 0;
	list-style-type: none;
}
.opportunity {
	width: 377px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 6px;
}
.opportunity__img {
	display: block;
	margin-bottom: 15px;
}
.opportunity-bottom {
	display: flex;
}
.opportunity__logo {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	border-radius: 50%;
}
.opportunity__company-name {
	margin: 0;
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 20px;
	opacity: 0.5;
}
.opportunity__company-text {
	margin: 0;
	font-size: 18px;
	line-height: 1.3;
}